{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public Licensebllsdsadfasfd
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template eportfolioplugins_hub/hub_view_h5p_player

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}

<div class="container-fluid">

    <div class="row mt-5">
        <div class="col">
            {{#backurl}}
                <a href="{{backurl}}" class="btn btn-primary" title="{{backurlstring}}">
                    {{#pix}} t/left, core, {{backurlstring}}{{/pix}}
                    {{backurlstring}}
                </a>
            {{/backurl}}
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="col-lg-8">
            {{{h5pplayer}}}
        </div>
        <div class="col-lg-4 pt-3">
            <p class="alert alert-secondary">
                <b>{{#str}} approval:view:status, eportfolioplugins_hub {{/str}}: </b>{{{state}}}<br>
                {{#approvedset}}
                    <b>{{#str}} approval:view:approvedby, eportfolioplugins_hub {{/str}}: </b>{{approvedby}}<br>
                    <b>{{#str}} approval:view:approveddate, eportfolioplugins_hub {{/str}}: </b>{{approveddate}}<br><br>
                {{/approvedset}}
                {{^approvedset}}
                    <br>
                {{/approvedset}}
                <b>{{#str}} approval:view:accesstype, eportfolioplugins_hub {{/str}}: </b>{{accesstype}}<br><br>
                <b>{{#str}} approval:view:access, eportfolioplugins_hub {{/str}}: </b>{{{access}}}<br>
                <b>{{#str}} approval:view:deleted, eportfolioplugins_hub {{/str}}: </b>{{{deleted}}}<br><br>
                <b>{{#str}} approval:view:title, eportfolioplugins_hub {{/str}}: </b>{{title}}<br>
                <b>{{#str}} approval:view:publishedby, eportfolioplugins_hub {{/str}}: </b>{{publishedby}}<br>
                <b>{{#str}} approval:view:timecreated, eportfolioplugins_hub {{/str}}: </b>{{timecreated}}<br>
                <b>{{#str}} approval:view:timemodified, eportfolioplugins_hub {{/str}}: </b>{{timemodified}}<br><br>
                <b>{{#str}} approval:view:description, eportfolioplugins_hub {{/str}}: </b><br>{{description}}
            </p>
            <p class="alert alert-primary">
                <b>{{#str}} approval:view:usernotes, eportfolioplugins_hub {{/str}}: </b><br>{{usernotes}}<br><br>
                {{#notesset}}
                    <b>{{#str}} approval:view:notes, eportfolioplugins_hub {{/str}}: </b><br>{{notes}}
                {{/notesset}}
            </p>

        </div>
    </div>
</div>